body {
    margin: 0;
    overflow: hidden;
  }
  
  .arjs-loader {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 9999;
  }
  